@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        #shape {
            height: 100px;
            width: 100px;
            border-radius: 0px;
            background-color: black;
            display: none;
            position: relative;
            top: 100px;
            left: 100px;
            /* border: black 1px solid; */
        }

        body {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        h1 {
            color: #fd8d6b;
            background: -webkit-linear-gradient(#FDC9B3, #fd8d6b);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            /* text-shadow: px 10px 5px #FFFFFF; */
            /* background-color: whitesmoke; */
            /* align-self: center; */
            font-size: 2rem;
        }
        
        h3{
            padding-left:20px;
        }

        p {
            padding: 0;
            margin: 0;
            align-self: center;
            /* background-color: whitesmoke; */
        }

        #title {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 10px solid;
            border-image-source: linear-gradient(160deg, #FDC9B3, #ff9372);
            border-image-slice: 1;
            height: 200px;
            flex-direction: column;
        }

        #text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
